#cssmenu ul {
    float: right;
    font-size:12px;
}

#cssmenu, #cssmenu ul, #cssmenu ul li, #cssmenu ul li a, #cssmenu #menu-button {
    margin: 0;
    padding: 0;
    border: 0;
    list-style: none;
    line-height: 1;
    display: block;
    position: relative;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

@media (min-width: 992px) {
    #cssmenu, #cssmenu ul, #cssmenu ul li, #cssmenu ul li a, #cssmenu #menu-button {
        display: block !important;
    }
}

#cssmenu ul ul {
    z-index: 99;
}

#cssmenu:after, #cssmenu>ul:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}

#cssmenu #menu-button {
    display: none;
    font-size: 14px;
}


#cssmenu>ul>li {
    float: left;
}

#cssmenu.align-center>ul {
    font-size: 0;
    text-align: center;
}

#cssmenu.align-center>ul>li {
    display: inline-block;
    float: none;
}

#cssmenu.align-center ul ul {
    text-align: left;
}

#cssmenu.align-right>ul>li {
    float: right;
}

#cssmenu.align-right ul ul {
    text-align: right;
}

#cssmenu>ul>li>a {
    padding: 20px 15px;
    text-decoration: none;
    text-transform: uppercase;
    color: #222222;
    -webkit-transition: color .2s ease;
    -moz-transition: color .2s ease;
    -ms-transition: color .2s ease;
    -o-transition: color .2s ease;
    transition: color .2s ease;
}

#cssmenu>ul>li:first-child>a {
    padding-left: 0;
}

#cssmenu>ul>li:last-child>a {
    padding-right: 0;
}

#cssmenu>ul>li:hover>a, #cssmenu>ul>li.active>a {
    color: #005ba9;
}

#cssmenu>ul>li.has-sub>a {
    padding-right: 25px;
}

#cssmenu>ul>li.has-sub>a::after {
    position: absolute;
    top: 21px;
    right: 10px;
    width: 4px;
    height: 4px;
    border-bottom: 1px solid #222222;
    border-right: 1px solid #222222;
    content: "";
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
    -webkit-transition: border-color 0.2s ease;
    -moz-transition: border-color 0.2s ease;
    -ms-transition: border-color 0.2s ease;
    -o-transition: border-color 0.2s ease;
    transition: border-color 0.2s ease;
}

#cssmenu>ul>li.has-sub:hover>a::after {
    border-color: #005ba9;
}

#cssmenu ul ul {
    position: absolute;
    left: -9999px;
}

#cssmenu li:hover>ul {
    left: auto;
}

#cssmenu.align-right li:hover>ul {
    right: 0;
}

#cssmenu ul ul ul {
    margin-left: 100%;
    top: 0;
}

#cssmenu.align-right ul ul ul {
    margin-left: 0;
    margin-right: 100%;
}

#cssmenu ul ul li {
    height: 0;
    -webkit-transition: height .2s ease;
    -moz-transition: height .2s ease;
    -ms-transition: height .2s ease;
    -o-transition: height .2s ease;
    transition: height .2s ease;
}

#cssmenu ul li:hover>ul>li {
    height: 32px;
}

#cssmenu ul ul li a {
    padding: 10px 20px;
    width: 160px;
    font-size: 12px;
    background: #f2f2f2;
    text-decoration: none;
    color: #141414;
    text-align: left;
    -webkit-transition: color .2s ease;
    -moz-transition: color .2s ease;
    -ms-transition: color .2s ease;
    -o-transition: color .2s ease;
    transition: color .2s ease;
}

#cssmenu ul ul li:hover>a, #cssmenu ul ul li a:hover {
    color: #005ba9;
}

#cssmenu ul ul li.has-sub>a::after {
    position: absolute;
    top: 13px;
    right: 10px;
    width: 4px;
    height: 4px;
    border-bottom: 1px solid #141414;
    border-right: 1px solid #141414;
    content: "";
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
    -webkit-transition: border-color 0.2s ease;
    -moz-transition: border-color 0.2s ease;
    -ms-transition: border-color 0.2s ease;
    -o-transition: border-color 0.2s ease;
    transition: border-color 0.2s ease;
}

#cssmenu.align-right ul ul li.has-sub>a::after {
    right: auto;
    left: 10px;
    border-bottom: 0;
    border-right: 0;
    border-top: 1px solid #141414;
    border-left: 1px solid #141414;
}

#cssmenu ul ul li.has-sub:hover>a::after {
    border-color: #141414;
}

@media (max-width: 991px) {
    #cssmenu>ul>li>a {
        padding: 20px 10px;
        font-size: 12px;
    }
}

@media (max-width: 780px) and (min-width:768px) {
    #cssmenu>ul>li>a {
        padding: 20px 8px;
        font-size: 12px;
    }
}

@media all and (max-width: 991px) {
    #cssmenu {
        width: 100%;
        text-align:right;
    }
    #cssmenu ul {
        width: -moz-calc(100% + 30px);
        width: -webkit-calc(100% + 30px);
        width: calc(100% + 30px);
        margin-left:-15px;
        float: none;
        display: none;
        position: absolute;
        background:#ffffff;
        top:0;
        left:0;
        z-index: 9;
    }
    #cssmenu.align-center>ul, #cssmenu.align-right ul ul {
        text-align: left;
    }
    #cssmenu ul li, #cssmenu ul ul li, #cssmenu ul li:hover>ul>li {
        width: 100%;
        height: auto;
        border-top: 1px solid rgba(120, 120, 120, 0.15);
    }
    #cssmenu ul li a, #cssmenu ul ul li a {
        width: 100%;
    }
    #cssmenu>ul>li, #cssmenu.align-center>ul>li, #cssmenu.align-right>ul>li {
        float: none;
        display: block;
        text-align: left;
    }
    #cssmenu ul ul li a {
        padding: 20px 20px 20px 30px;
        font-size: 12px;
        color: #222222;
        background: none;
        text-transform: uppercase;
    }
    #cssmenu ul ul li:hover>a, #cssmenu ul ul li a:hover {
        color: #005ba9;
    }
    #cssmenu ul ul ul li a {
        padding-left: 40px;
    }
    #cssmenu ul ul, #cssmenu ul ul ul {
        position: relative;
        left: 0;
        right: auto;
        width: 100%;
        margin: 0;
    }
    #cssmenu>ul>li.has-sub>a::after, #cssmenu ul ul li.has-sub>a::after {
        display: none;
    }
    #menu-line {
        display: none;
    }
    #cssmenu #menu-button {
        display: inline-block;
        padding: 20px;
        color: #005ba9;
        cursor: pointer;
        font-size: 14px;
        text-transform: uppercase;
        text-align: left;
        background:#005ba9;
    }
    #cssmenu #menu-button::after {
        content: '';
        position: absolute;
        top: 10px;
        right: 5px;
        display: block;
        width: 30px;
        height: 2px;
        background: #fff;
    }
    #cssmenu #menu-button::before {
        content: '';
        position: absolute;
        top: 18px;
        right: 5px;
        display: block;
        width: 30px;
        height: 10px;
        border-top: 2px solid #fff;
        border-bottom: 2px solid #fff;
    }
    #cssmenu .submenu-button {
        position: absolute;
        z-index: 10;
        right: 0;
        top: 0;
        display: block;
        border-left: 1px solid rgba(120, 120, 120, 0.15);
        height: 52px;
        width: 52px;
        cursor: pointer;
    }
    #cssmenu .submenu-button::after {
        content: '';
        position: absolute;
        top: 21px;
        left: 26px;
        display: block;
        width: 1px;
        height: 11px;
        background: #005ba9;
        z-index: 99;
    }
    #cssmenu .submenu-button::before {
        content: '';
        position: absolute;
        left: 21px;
        top: 26px;
        display: block;
        width: 11px;
        height: 1px;
        background: #005ba9;
        z-index: 99;
    }
    #cssmenu .submenu-button.submenu-opened:after {
        display: none;
    }
}
